# tables

dialog
	exit: "Exit?"
	exit_0: "Yes"
	exit_1: "No"

# blocks

exit_dialog
	responses: on_exit,
	position: 400, 300
	controller_interface: move_pointer, activate
	style: center_style

# control_methods

play_laser
	method: play_sound
	key: laser
	device_names: Start,

play_ding
	method: play_sound
	file_name: ding.ogg
	device_names: A,

movement
	speed: 5
	device_name: Dpad

activate
	method: activate

return
	method: handle_event
	event: "on_return"
	device_names: B,

move_pointer
	device_name: Dpad

move_vector
	speed: 5


# styles

default_style
	position_style: flow
	bg_image: bg.png
	bg_color: 40, 40, 40
	font_name: couriernew
	bold
	font_size: 15
	font_color: 255, 255, 255
	alpha_color: 255, 0, 0
	text_buffer: 1
	border
	border_sides: tlrb
	border_corners: abcd
	border_images: h_side.png, v_side.png, corner.png
	cell_buffer: 5, 2
	border_size: 8, 6
	h_align: l
	v_align: t

seethru_bg_style
	bg_image: bg2.png

center_style
	h_align: c
	v_align: c

header_style
	font_size: 20

info_style
	text_cutoff: 50
	text_newline

main_bg_style
	border: 0
	bg_image: test_bg.png

tile_bg_style
	border: 0
	bg_image: tilebg.gif

# resource_dicts

menu_sounds
	activate: activate.ogg
	select: select.ogg
	return: select2.ogg

demo_sprite_sounds
	walk: walk.ogg
	sword: ding.ogg


# options

exit_option
	text: "Exit"
	on_activate: on_exit_dialog

save_controller_option
	text: "Save Controller"
	on_activate: on_save_controller

# events

on_exit_dialog
	name: on_show_dialog
	dialog: exit_dialog

on_save_controller
	name: on_save_controller
	index: 0


# command_inputs

double tap right
	window: 20
	devices: Dpad, 
	steps: neutral, right, neutral, right

double tap left
	window: 20
	devices: Dpad, 
	steps: neutral, left, neutral, left

double tap up
	window: 20
	devices: Dpad, 
	steps: neutral, up, neutral, up


# animation_machines

sprite_machine
	sprite_sheet: link.png
	sprite_sheet_layer: sword.png, 0, 75
	state_transitions: demo_sprite.cfg
	scale: 4
	class: udlr_machine

enemy_machine
	sprite_sheet: enemy.png
	state_transitions: enemy_sprite.cfg
	scale: 4

# collision_systems

sprite_walls_cs
	name: sprite walls collision system
	group_a: sprite_group
	group_b: walls_group
	collision_system: sprite_region

sprite_body_cs
	name: sprite body collision system
	group_a: sprite_group
	collision_system: sprite_sprite

sprite_hitbox_cs
	name: sprite hitbox collision system
	group_a: sprite_group
	collision_system: sprite_hitbox

# hud_fields

sprite_collision_point
	get_value: get_collision_point
	get_text: format_point
	value_name: Collision Point

sprite_velocity
	get_value: get_velocity
	get_text: format_vector
	value_name: Sprite Velocity


# walls

w2
	name: w2
	origin: 200, 200
	end: 400, 200

w1
	name: w1
	origin: 700, 200
	end: 700, 250

w3
	name: w3
	origin: 600, 50
	end: 300, 460

w4
	name: w4
	origin: 600, 400
	end: 550, 50
